# AgentForge Environment
AGENTFORGE_API_URL=http://localhost:3000
STELLAR_AGENT_SECRET=
QSTASH_TOKEN=
ABLY_API_KEY=
NEXT_PUBLIC_ABLY_KEY=
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_AF_TOKEN_CONTRACT_ID=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
